// // Font
$HelveticaNowDisplay: 'HelveticaNowDisplay' ,sans-serif;

$mainFont : $HelveticaNowDisplay;
// $secondaryFont : $ffMontserrat;

// // Size
$mainFontColor : #545460;
$mainFontSize : 16px;
$mainFontWeight : 400;
$boldFontWeight : 700;
$mainLineHeight : 1.8;

// // Main color
$secondColor: #485563;
$thirdColor: #596067;
$lightColor: #FFFFFF;
$darkColor: #202523;
$primaryColor : #18E8A4;

// $darkColor :#000000;
// $purple-color :#6E41E2;
// $active-color : #FF7728;